* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

/* <header> */
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav img {
    max-height: 8%;
    max-width: 8%;
    padding-left: 1%;
}

.heading {
    font-size: 100%;
    color: white;
    text-align: center;
    background-image: url('img/spaghetti.jpg');
    background-size: 100%;
    padding: 120px;
}

.heading2 {
  font-size: 100%;
  color: white;
  text-align: center;
  background-image: url('img/annie-spratt-kZO9xqmO_TA-unsplash.jpg');
  background-size: 100%;
  padding: 120px;
}


/* </header> */

/* <main> */
.shortcuts {
  margin: 70px;
  display: flex; 
  justify-content: center;
  border-radius: 25px;
  background: #ffdcd3;
  color: tomato;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.box2 {   
  grid-column: 2/3;
  grid-row: 1/2;  
}

.box3 {
grid-column: 1/2; 
grid-row: 2/3;
padding-top: 15px;
padding-bottom: 30px;
}

.box4 {
grid-column: 2/3; 
grid-row: 2/3;
padding-top: 15px;
padding-bottom: 30px; 
}
/* </main> */

/* <footer> */
.footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: end;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1e0;
  padding: 50px;
}

.footer a {
  display: block;
  color: black;
  text-align: center;
  padding: 3%;
  text-decoration: none;
}
